<template id="blog-selector-list-template">
  <style>
    #posts-container {
      display: flex;
      flex-direction: column;
      flex-shink: 1;
      border: 1.5px solid light-dark(var(--light-border), var(--dark-border)) !important;
    }


    #posts-container button {
      padding: 1rem;
      flex-grow: 1;
      display: flex;
      border: none !important;
      box-shadow: none !important;
      text-shadow: none !important;
      transition: all ease-in 250ms;
    }

    #posts-container button:not(:last-child) {
      border-bottom: 2px solid light-dark(var(--light-border), var(--dark-border)) !important;
    }

    #posts-container button:hover,
    #posts-container button.selected {
      background-color: var(--primary-orange);
      color: var(--light-color);
    }

    #posts-container button.selected:not(:last-child) {
      border-bottom: 2px solid var(--primary-orange) !important;
    }


    @media (max-width: 930px) {
      #posts-container {
        flex-direction: row;
      }
    }
  </style>
  <div id="posts-container"></div>
</template>

<script>
  class BlogSelectorList extends HTMLElement {
    connectedCallback() {
      const template = document.getElementById('blog-selector-list-template').content.cloneNode(true);
      this.appendChild(template);
      const posts = this.posts;
      console.log(`Got posts: ${posts}`);
      this.selectorContainer = this.querySelector('#posts-container');
      this.selectorContainer.classList.add('crt');

      const params = new URLSearchParams(window.location.search);
      /** @type{string} **/
      this.currentPost = params.get("post") || posts[0];

      posts.forEach(post_name => {
        const button = document.createElement('button');
        button.textContent = post_name;
        button.id = `${post_name}-selector`;
        button.setAttribute("hx-get", `/Blog?post=${post_name}`);
        button.setAttribute("hx-target", this.target);
        button.setAttribute("hx-select", this.target);
        button.setAttribute("hx-swap", "innerHTML");
        button.setAttribute("hx-push-url", "true");

        button.addEventListener("htmx:xhr:loadend", () => {
          if (this.currentPost != post_name) {
            this.currentPost = post_name;
            this.updateButtonStyles();
          }
        });

        if (this.currentPost == post_name) {
          button.click();
        }
        this.selectorContainer.appendChild(button);
      });
      this.updateButtonStyles();
    }

    updateButtonStyles() {
      const buttons = this.selectorContainer.querySelectorAll("button");
      buttons.forEach(button => {
        const split = button.id.split("-");
        split.pop();
        const buttonIdName = split.join("-");

        (buttonIdName === this.currentPost) ?
          button.classList.add("selected")
          :
          button.classList.remove("selected");
      });
    }

    /**
    * @returns {Array<string>}
    **/
    get posts() {
      let postsattr =
        this.getAttribute('posts');
      console.log(`Attr: ${postsattr}`);
      return (postsattr || '').split(',').map(route => route.trim());
    }
    get target() {
      const target = this.getAttribute('target');
      if (target == null) {
        console.log("you should pass a target with a blog-selector-list component")
      }
      return target || "";
    }

  }
  customElements.define('blog-selector-list', BlogSelectorList);
</script>