<template id="blog-selector-list-template">
  <style>
    #posts-container {
      display: flex;
      flex-direction: column;
      width: max-content;
      border: 1.5px solid light-dark(var(--light-border), var(--dark-border)) !important;
    }


    #posts-container button {
      padding: 1rem;
      flex-grow: 1;
      display: flex;
      border: none !important;
      box-shadow: none !important;
      text-shadow: none !important;
      transition: all ease-in 250ms;
    }

    #posts-container button:not(:last-child) {
      border-bottom: 2px solid light-dark(var(--light-border), var(--dark-border)) !important;
    }

    #posts-container button:hover,
    #posts-container button.selected {
      background-color: var(--primary-orange);
      color: var(--light-color);
    }

    @media (max-width: 930px) {
      #posts-container {
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
      }

      #posts-container button {
        flex: 0 0 auto;
        border-bottom: 2px solid light-dark(var(--light-border), var(--dark-border)) !important;
      }

      #posts-container button:not(:last-child) {
        border-right: 1px solid light-dark(var(--light-border), var(--dark-border)) !important;

      }

    }
  </style>
  <div id="posts-container"></div>
</template>

<script>
  /**
   * @typedef {Object} BlogPostInfo
   * @property {BigInt} last_modified - Timestamp of when the post was last modified.
   * @property {string} name - Name of the blog post.
   * @property {string} path - Path to the blog post.
   * @property {string} file_name - The name of the file for the blog post.
   * @property {string} content - The content of the blog post.

   */
  class BlogSelectorList extends HTMLElement {
    connectedCallback() {
      const params = new URLSearchParams(window.location.search);
      const template = document.getElementById('blog-selector-list-template').content.cloneNode(true);
      this.appendChild(template);

      const posts = this.posts;
      this.selectorContainer = this.querySelector('#posts-container');
      <!-- this.selectorContainer.classList.add('crt'); -->
      /** @type{string} **/
      this.currentPostPath = params.get("post") || posts[0].path;

      posts.forEach(
        /** @param {BlogPostInfo} post */
        (post) => {
          const button = document.createElement('button');
          button.classList.add('crt');
          button.textContent = post.name;
          button.id = `${post.path}-selector`;
          button.setAttribute("hx-get", `/Blog?post=${post.path}`);
          button.setAttribute("hx-target", this.target);
          button.setAttribute("hx-select", this.target);
          button.setAttribute("hx-swap", "outerHTML");
          button.setAttribute("hx-push-url", "true");

          button.addEventListener("htmx:xhr:loadend", () => {
            if (this.currentPostPath != post.path) {
              this.currentPostPath = post.path;
              this.updateButtonStyles();
            }
          });


          if (this.currentPostPath == post.path) {
            button.click();
          }
          this.selectorContainer.appendChild(button);
        });
      this.updateButtonStyles();
    }

    updateButtonStyles() {
      const buttons = this.selectorContainer.querySelectorAll("button");
      buttons.forEach(button => {
        const split = button.id.split("-");
        split.pop();
        const buttonIdName = split.join("-");

        (buttonIdName === this.currentPostPath) ?
          button.classList.add("selected")
          :
          button.classList.remove("selected");
      });
    }
    /**
      This component expects a script of `application/json` type filled with all posts as JSON to be passed alongside it
      this script's id MUST be `all-blogs-json`
    * @returns {BlogPostInfo[]}
    **/
    get posts() {
      const scriptTag = document.getElementById('all-blogs-json');
      try {
        const posts = scriptTag ? JSON.parse(scriptTag.textContent) : [];
        return posts.sort((a, b) => b.last_modified - a.last_modified);
      } catch (e) {
        console.error(`Error parsing posts: ${e}\nAttr JSON: ${postsAttr}`);
        return [];
      }
    }
    get target() {
      const target = this.getAttribute('target');
      if (target == null) {
        console.error("you should pass a target with a blog-selector-list component")
      }
      return target || "";
    }

  }
  customElements.define('blog-selector-list', BlogSelectorList);
</script>