<template id="blog-selector-list-template">
  <style>
    #posts-container {
      display: flex;
      flex-direction: column;
      flex-shink: 1;
      border: 1.5px solid light-dark(var(--light-border), var(--dark-border)) !important;
    }


    #posts-container button {
      padding: 1rem;
      flex-grow: 1;
      display: flex;
      border: none !important;
      box-shadow: none !important;
      text-shadow: none !important;
      transition: all ease-in 250ms;
    }

    #posts-container button:not(:last-child) {
      border-bottom: 2px solid light-dark(var(--light-border), var(--dark-border)) !important;
    }

    #posts-container button:hover,
    #posts-container button.selected {
      background-color: var(--primary-orange);
      color: var(--light-color);
    }

    @media (max-width: 930px) {
      #posts-container {
        flex-direction: row;
      }
    }
  </style>
  <div id="posts-container"></div>
</template>

<script>
  class BlogSelectorList extends HTMLElement {
    connectedCallback() {
      const template = document.getElementById('blog-selector-list-template').content.cloneNode(true);
      this.appendChild(template);
      const posts = this.posts;

      this.selectorContainer = this.querySelector('#posts-container');
      this.selectorContainer.classList.add('crt');

      const params = new URLSearchParams(window.location.search);
      /** @type{string} **/
      this.currentPost = params.get("post") || posts[0];

      posts.forEach(post => {
        const button = document.createElement('button');
        button.textContent = post.name;
        button.id = `${post.name}-selector`;
        button.setAttribute("hx-get", `/Blog?post=${post.path}`);
        button.setAttribute("hx-target", this.target);
        button.setAttribute("hx-select", this.target);
        button.setAttribute("hx-swap", "innerHTML");
        button.setAttribute("hx-push-url", "true");

        button.addEventListener("htmx:xhr:loadend", () => {
          if (this.currentPost != post) {
            this.currentPost = post;
            this.updateButtonStyles();
          }
        });

        if (this.currentPost == post) {
          button.click();
        }
        this.selectorContainer.appendChild(button);
      });
      this.updateButtonStyles();
    }

    updateButtonStyles() {
      const buttons = this.selectorContainer.querySelectorAll("button");
      buttons.forEach(button => {
        const split = button.id.split("-");
        split.pop();
        const buttonIdName = split.join("-");

        (buttonIdName === this.currentPost) ?
          button.classList.add("selected")
          :
          button.classList.remove("selected");
      });
    }
    /**
     * @typedef {Object} BlogPostInfo
     * @property {BigInt} last_modified - Timestamp of when the post was last modified.
     * @property {string} name - Name of the blog post.
     * @property {string} path - Path to the blog post.
     * @property {string} file_name - The name of the file for the blog post.
     * @property {string} content - The content of the blog post.
     */
    /**
    * @returns {BlogPostInfo[]}
    **/
    get posts() {
      let postsAttr =
        this.getAttribute('posts');
      try {
        const posts = JSON.parse(postsAttr || '[]');
        return posts.sort((a, b) => b.last_modified - a.last_modified);
      } catch (e) {
        console.error('Error parsing posts:', e);
        console.log(`Attr: ${postsAttr}`);
        return [];
      }
    }
    get target() {
      const target = this.getAttribute('target');
      if (target == null) {
        console.log("you should pass a target with a blog-selector-list component")
      }
      return target || "";
    }

  }
  customElements.define('blog-selector-list', BlogSelectorList);
</script>