<template id="nav-router-template">
  <style>
    #routes-container {
      display: flex;
      flex-direction: row;
      gap: 1rem;

    }
  </style>

  <div id="routes-container"></div>

</template>

<script>
  class NavRouter extends HTMLElement {
    connectedCallback() {
      const template = document.getElementById('nav-router-template').content.cloneNode(true);
      this.appendChild(template);

      this.currentPath = window.location.pathname.replace(/^\/+/, '') || this.defaultRoute;
      this.currentQuery = window.location.search.replace(/^\?/, '') || undefined;


      if (this.routes.length === 0) {
        console.log('No routes provided');
        return;
      }

      this.routesContainer = this.querySelector('#routes-container');
      this.routeButtonMap = new Map();

      this.routes.forEach(route => {
        const button = document.createElement('button');
        button.textContent = route;
        button.id = `${route}_route`;
        button.classList.add("crt");

        if (route === this.defaultRoute) {
          button.setAttribute("hx-get", `/`);
/*        } else if (route === this.currentPath && this.currentQuery) {
          button.setAttribute("hx-get", `/${route}?${this.currentQuery}`);
*/        } else {
          button.setAttribute("hx-get", `/${route}`);
        }
        button.setAttribute("hx-target", this.target);
        button.setAttribute("hx-swap", this.swap);
        button.setAttribute("hx-push-url", "true");

        button.addEventListener("htmx:xhr:loadend", () => {
          this.updateButtonStyles();
        });

        this.routeButtonMap.set(route, button);
        this.routesContainer.appendChild(button);
      });

      document.addEventListener('DOMContentLoaded', () => {
        this.updateButtonStyles();
      })

    }

    updateButtonStyles() {
      const selected_marker = "* ";
      const path = window.location.pathname.replace(/^\/+/, '');

      for (const button of this.routeButtonMap.values()) {
        const isHome = path === '' && button.textContent.includes(this.defaultRoute);
        const isMatch = path !== '' && button.textContent.includes(path);

        if (isHome || isMatch) {
          if (!button.textContent.startsWith(selected_marker)) {
            button.textContent = `${selected_marker}${button.textContent}`;
          }
        } else {
          button.textContent = button.textContent.replace(selected_marker, "");
        }
      }
    }



    get swap() {
      return this.getAttribute('swap') || "innerHTML";
    }

    get target() {
      const target = this.getAttribute('target');
      if (target == null) {
        console.log("you should pass a target with a routes-nav component target")
      }
      return target || "";
    }

    /**
    * @returns {Array<string>}
    **/
    get routes() {
      return (this.getAttribute('routes') || '').split(',').map(route => route.trim());
    }

    get defaultRoute() {
      return this.getAttribute('defaultRoute') || this.routes[0];
    }
  }

  customElements.define('nav-router', NavRouter);
</script>