<template id="nav-router-template">
  <style>
    #routes-container {
      display: flex;
      flex-direction: row;
      gap: 1rem;

    }
  </style>

  <div id="routes-container"></div>

</template>

<script>
  class NavRouter extends HTMLElement {
    connectedCallback() {
      const template = document.getElementById('nav-router-template').content.cloneNode(true);
      this.appendChild(template);

      const routes = this.routes;
      const defaultRoute = this.defaultRoute;
      /** @type {string} **/
      const currentPath = this.getAttribute('current')?.replace(/^\/+/, '') || defaultRoute;
      /** @type {string|undefined} **/
      const currentQuery = this.getAttribute('query')?.replace(/^\/+/, '') || undefined;

      this.currentPath = currentPath;
      /** @type {string|undefined} **/
      this.currentQuery = currentQuery;

      console.log(`PATH: ${this.currentPath}\nQ: ${this.currentQuery}`);

      if (!routes.includes(currentPath)) {
        console.error(`Route "${currentPath}" not found. Falling back to default route.`);
        currentPath = defaultRoute;
      }

      this.prevRoute = null;
      if (routes.length === 0) {
        console.log('No routes provided');
        return;
      }

      this.routesContainer = this.querySelector('#routes-container');
      this.routeButtonMap = new Map();

      routes.forEach(route => {
        const button = document.createElement('button');
        button.textContent = route;
        button.id = `${route}_route`;
        button.classList.add("crt");

        if (route === this.currentPath && this.currentQuery) {
          button.setAttribute("hx-get", `/${route}?${this.currentQuery}`);
        } else {
          button.setAttribute("hx-get", `/${route}`);
        }
        button.setAttribute("hx-target", this.target);
        button.setAttribute("hx-swap", this.swap);
        button.setAttribute("hx-push-url", "true");


        button.addEventListener("htmx:xhr:loadend", () => {
          if (this.currentPath != route) {
            this.prevRoute = this.currrentRoute;
            this.currentPath = route;
            this.updateButtonStyles();
          } else {
            button.classList.add("active");
          }
        });

        this.routeButtonMap.set(route, button);
        this.routesContainer.appendChild(button);
      });

      document.addEventListener('DOMContentLoaded', () => {
        const button = this.routeButtonMap.get(this.currentPath || this.defaultRoute);
        const currentValue = button.getAttribute("hx-get");
        button.setAttribute("hx-get", currentValue + this.currentQuery);

        if (this.currentPath == null) {
          this.sendClickToButton(this.defaultRoute);
        }

        if (this.prevRoute != this.currentPath) {
          this.sendClickToButton(this.currentPath);
        }

        this.updateButtonStyles();

      })

    }

    /**
    * This triggers after htmx:xhr:loadend, which means it triggers right after any of the route buttons are 
    * clicked 
    * */
    updateButtonStyles() {
      const buttons = this.routeButtonMap.values();
      buttons.forEach(button => {
        if (button.textContent === this.currentPath) {
          button.textContent = `* ${this.currentPath}`;  // Prepend a '*' to active route
        } else {
          button.textContent = button.textContent.replace("* ", "");  // Remove '*' from inactive routes
        }
      });
    }

    sendClickToButton(route) {
      const b = this.routeButtonMap.get(route);
      if (!b) {
        console.log("could not get button from route: ", route);
        return;
      }
      b.click();
    }


    get swap() {
      return this.getAttribute('swap') || "innerHTML";
    }

    get target() {
      const target = this.getAttribute('target');
      if (target == null) {
        console.log("you should pass a target with a routes-nav component target")
      }
      return target || "";
    }

    /**
    * @returns {Array<string>}
    **/
    get routes() {
      return (this.getAttribute('routes') || '').split(',').map(route => route.trim());
    }

    get defaultRoute() {
      return this.getAttribute('defaultRoute') || this.routes[0];
    }
  }

  customElements.define('nav-router', NavRouter);
</script>